<%- include('header') -%>
    <!-- inner banner -->
    <div class="inner_banner layer" id="home">
        <div class="container">
            <div class="agileinfo-inner">
                <h3 class="text-center text-white">
                    Investment management
                </h3>
            </div>
        </div>
    </div>
    <!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!-- portfolio -->
    <section class="portfolio py-sm-5 py-3 pb-5">
        <div class="container py-md-5">
            <!-- title description -->
             <div class="row py-lg-5">
               <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR3QDBioSv3VwNwloAHBGTC8-y9xq2qezWp8pSmhPlIltI7veeESUYCq6yJvuzugKtJH5_6CQzE8D-J/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
            <div class="row py-lg-5">
                <div class="col-lg-5  bb-left">
                    <span class="w3-line">works</span>
                    <h3 class="agile-title">Portfolio image gallery</h3>
                </div>
                <div class="col-lg-7 mt-lg-0 mt-3 px-lg-5">
                    <p>We like to have this page and show calming pictures to comfort those with horrendous losses. In 2008, this page had over 200 billion hits!</p>
                    <a class="btn btn-danger  mt-sm-4 text-capitalize" href="services" role="button">read more</a>
                </div>
            </div>
            <!-- title description -->
            <!-- portfolio image grids -->
            <!-- //portfolio image grids -->
        </div>
    </section>
    <!-- //portfolio -->
 <%- include('footer') -%>