<%- include('header') -%>
    <!-- maintenance -->
    <div class="main_banner layer">
        <div class="container">
            <div class="d-flex agileinfo-main flex-column">
                <div class="maint_grid">
                    <h4>we are under maintenance.</h4>
                    <div class="progress_agile  my-sm-5 my-3">
                        <div class="progress-outer mt-3">
                            <div class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped active" style="width:70%;"></div>
                                <div class="progress-value">70%</div>
                            </div>
                        </div>
                    </div>
                    <p>Sorry for the inconvenience.To improve our services, we have momentarily shutdown our site.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- // maintenance -->
<%- include('footer') -%>