<%- include('header') -%>
    <!-- title description-->
    <div class="container py-sm-5 py-3">
        <div class="row py-lg-5">

            <div class="col-lg-5  bb-left">
                <h3 class="agile-title">application not configured</h3>
            </div>
            <div class="col-lg-7 mt-lg-0 mt-3 px-lg-5">
                <p>This application has not been configured.
                   Before you can use this application, you need to edit the settings located in the in the <tt>.env</tt> file 
                   for this project.</p>
                <a class="btn btn-primary mt-sm-4" href="<%= envEditLink %>" role="button">Edit .env settings now</a>
            </div>
        </div>
    </div>
    <!-- //title description -->
<%- include('footer') -%>