<%- include('header') -%>
    <!-- inner banner -->
    <div class="inner_banner layer" id="home">
        <div class="container">
            <div class="agileinfo-inner">
                <h3 class="text-center text-white">
                    Investment management
                </h3>
            </div>
        </div>
    </div>
    <!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Services</li>
        </ol>
    </nav>
  <%- include partials/authJsMfaModal.ejs %>
    <!-- //breadcrumbs -->
    <!-- title description-->
    <div class="container py-sm-5 py-3">
        <div class="row py-lg-5">
            <div class="col-lg-5  bb-left">
                <span class="w3-line">show case</span>
                <h3 class="agile-title">our services</h3>
            </div>
            <div class="col-lg-7 mt-lg-0 mt-3 px-lg-5">
                <p>What’s in your garage? You might be practical when you choose cars — a versatile hatchback or minivan is just the thing.  
                  Perhaps you prefer the rugged image of an SUV, or like to reward yourself with a convertible or luxury sedan. 
                  Maybe you also have a classic muscle car or vintage sports car for weekend cruising.
Whatever you drive, you know you need insurance for your car and assets. And that's why you need financial advisors.</p>
                <a class="btn btn-danger  mt-sm-4  text-capitalize" href="portfolio" role="button">read more</a>
            </div>
        </div>
    </div>
    <!-- //title description -->
    <!-- Services section -->
    <section class="wthree-row py-sm-5 pt-3 slide-bg position-relative" id="we_offer_agile">
        <div class="container py-md-5 py-3">
            <div class="py-lg-5 pb-5">
                <h3 class="agile-title text-center">Financial Services Core Customer Centric Approach</h3>
            </div>
            <div class="services-bot-agile position-absolute">
                <div class="row mt-5">
                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="card-block block-1">
                                <h3 class="card-title">
                                    <span>s</span>ervicing Hedging</h3>
                                <p class="card-text">How to hedge 101.</p>
                                <a href="#" title="Read more" class="read-more">Read more
                                    <i class="fa fa-angle-double-right ml-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="card-block block-4">
                                <h3 class="card-title">
                                    <span>s</span>ending it at all times</h3>
                                <p class="card-text">Deliver great results. Just do it.</p>
                                <a href="error" title="Read more" class="read-more">Read more
                                    <i class="fa fa-angle-double-right ml-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="card-block block-1">
                                <h3 class="card-title">
                                    <span>s</span>elling true cost.</h3>
                                <p class="card-text">Don't let your dreams be dreams.</p>
                                <a href="portfolio" title="Read more" class="read-more">Read more
                                    <i class="fa fa-angle-double-right ml-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="card-block block-4">
                                <h3 class="card-title">
                                    <span>s</span>ourcing good leads </h3>
                                <p class="card-text">How to get the best leads.</p>
                                <a href="#" title="Read more" class="read-more">Read more
                                    <i class="fa fa-angle-double-right ml-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="card-block block-1">
                                <h3 class="card-title">
                                    <span>s</span>izing your market.</h3>
                                <p class="card-text">How do you size your market?</p>
                                <a href="maintenance" title="Read more" class="read-more">Read more
                                    <i class="fa fa-angle-double-right ml-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="card-block block-4">
                                <h3 class="card-title">
                                    <span>s</span>elling your positions</h3>
                                <p class="card-text">Selling your position is hard. Do it the right way.</p>
                                <a href="soon" title="Read more" class="read-more">Read more
                                    <i class="fa fa-angle-double-right ml-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Services section -->
<%- include('footer') -%>